body {
  background-color: lightskyblue;
}

.main {
  height: 200px;
  width: 20%;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: rgb(204, 236, 255);
  border-radius: 10px;
}

h2 {
  text-align: center;
  padding-top: 20px;
}

p {
  margin-left: 5%;
  font-size: 20px;
}

h1 {
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  color: rgb(89, 114, 127);
  font-size: 40px;
}